<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Vue Js Project</title>
</head>
<body>
    <div class="vue_total">
        <div>
            <label>First Value :</label>
            <input type="number" v-model.number="firstValue" />
        </div>

        <div>
            <label>Second Value :</label>
            <input type="number" v-model.number="secondValue" />
        </div>

        <div>
            <label>Operator:</label>
            <select v-model="selected">
                <option v-for="operator in operators">
                    {{ operator }}
                </option>
            </select>
        </div>

        <h1>Result : {{ computeValue }}</h1>
    </div>

    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '.vue_total',
            data: {
                firstValue: "",
                secondValue: "",
                operators: ['+', '-', '*', '/'],
                selected: null
            },
            computed: {
                computeValue: function () {
                    return eval(this.firstValue + this.selected + this.secondValue);
                    return this.firstValue + this.selected + this.secondValue;
                }
            },
        })
    </script>
</body>
</html>